<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<script>
  MathJax = {
    loader: {
      load: ['input/tex-base', 'output/chtml', 'ui/menu', '[tex]/require', '[tex]/ams']
    },
    output: {
      font: 'mathjax-newcm'
    },
    tex: {
      packages: {'[+]': ['require', 'ams']},
      inlineMath: {'[+]': [['$', '$'], ['\\(', '\\)']]},
    }
  };
</script>

<script defer src="https://cdn.jsdelivr.net/npm/mathjax@4/startup.js"></script>

<!-- end custom head snippets -->
